$black: #1b1b1b;
$darkgray: #212121;
$middarkgray: #272727;
$lightgray: #d1d1d1;
$white: #fff;
$purple: #7f7b96;
$peach: #b45a42;
$pink: #bb7f7f;
$yellow: #c17e27;
$green: #004547;
$torquise: #006064;
$blue: #325b6d;
$gray20: #231f20;

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  height: 100%;
}
