@media screen and (max-width: 768px) {
  .popup {
    top: 60px;
    right: 50%;
    transform: translateX(50%);
    box-shadow: none;
  }

  header {
    h1 {
      width: 60px;
      height: 60px;
    }
  }

  nav.top_menu {
    display: none;
  }

  .profile {
    flex-direction: column;
    // padding-top: 300px;
    height: 40rem;
    justify-content: space-evenly;

    .profile_text {
      font-size: 1.4rem;
      line-height: 2.4rem;
      height: 9.6rem;
    }

    .profile_photo {
      height: 18rem;
      width: auto;
      img {
        height: 100%;
      }
    }
  }

  .introduce {
    .intro {
      font-size: 2rem;
      padding: 0 35px;
    }
  }

  .introduce01 div.skill_button {
    width: 20vw;
    height: 20vw;
    left: 38vw;
    top: -60px;

    font-size: 1.3rem;
  }

  .skills {
    width: 60vw;
    height: 34vh;
    margin-left: 50%;
    transform: translateX(-30vw);

    li {
      height: 1.6rem;
      flex-direction: column;
    }

    .skill_label {
      text-indent: 10px;
      border-radius: 10px;
    }

    .skill_text {
      width: 30%;
      font-size: 0.8rem;
      height: 100%;
      padding: 0 10px;
      line-height: 1.6rem;
    }

    .skillbar {
      width: 60%;
      height: 100%;
      border-radius: 10px;
      font-size: 0.8rem;
    }
  }

  .introduce01 {
    height: 100%;
    position: relative;
    left: 0px;
    top: 20px;
  }

  .project_wrap {
    height: 500vh;
    padding-bottom: 20vh;
  }

  figure.project {
    width: 100vw;
    height: 50vh;
    transform: rotateX(0deg) rotateY(0deg);
    img {
      height: 80%;
      width: 100vw;
    }
    figcaption {
      position: relative;
      height: 20%;
      & > a {
        opacity: 1;
        font-size: 1.1rem;
        background-color: transparent;
        height: 100%;
        .figcaption_inner {
          height: 100%;
          opacity: 1;
          div {
            margin: 0;
            transform: scale(0.7);
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
          }
        }
      }
    }
  }

  .project_01,
  .project_02,
  .project_03,
  .project_04,
  .project_05,
  .project_06 {
    top: 60px;
    left: 0;

    width: 100vw;
  }
}
