@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  height: 100%;
}

body {
  background-color: #212121;
  overflow-x: hidden;
}

/*헤더영역 서식 시작*/
header {
  width: 100%;
  background-color: #181818;
}

header h1 {
  width: 160px;
  height: 160px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

header h1 img {
  width: 100%;
}

p.header_introduce {
  font-size: 1.6rem;
  width: 30vw;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status {
  background-color: #4973fd;
  color: #fff;
  width: 100px;
  height: 30px;
  position: fixed;
  top: 0;
  right: 0;
}

/*토글버튼 서식*/
.toggle {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  right: 10px;
  z-index: 9999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bar {
  position: absolute;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bar01 {
  width: 50px;
  background-color: #d1d1d1;
  top: 30%;
  right: 0;
}

.bar02 {
  width: 70px;
  background-color: #d1d1d1;
  top: 50%;
  right: 0;
}

.toggle:hover .bar {
  width: 60px;
}

.toggle.active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle.active:hover .bar01 {
  width: 90px;
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
}

.toggle.active:hover .bar02 {
  display: none;
}

.toggle.active .bar02 {
  width: 60px;
  -webkit-transform: rotate(-45deg) translateY(-14px);
          transform: rotate(-45deg) translateY(-14px);
}

.toggle.active .bar01 {
  width: 60px;
  -webkit-transform: rotate(45deg) translateY(14px);
          transform: rotate(45deg) translateY(14px);
}

.gnb_wrap {
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.71);
  position: fixed;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  top: 0;
  z-index: 9000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gnb_wrap.act {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.gnb {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: #ff5c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gnb ul {
  width: 100%;
}

.gnb li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.gnb a {
  width: 100%;
  padding-left: 10%;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.8em;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #212121;
  position: relative;
}

.gnb a::before {
  content: "";
  display: inline-block;
  width: 20%;
  height: 1px;
  background-color: #1b1b1b;
  margin: 0 10px 3% 0;
}

.gnb a.inactive {
  font-size: 2rem;
  line-height: 1.6em;
  color: #d1d1d1;
}

.gnb a.inactive::before {
  width: 150px;
  margin: 0 10px 3% 0;
  background-color: #d1d1d1;
}

.gnb a.active {
  font-size: 4rem;
  line-height: 1.8em;
  color: #000000;
}

.gnb a.active::before {
  width: 25%;
  height: 1px;
  background-color: #000000;
}

/*프로필 이미지 서식*/
.profile {
  position: absolute;
  width: 60vw;
  height: 100%;
  top: 50%;
  left: 20vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .profile_photo {
  width: 20vw;
}

.profile img {
  width: 100%;
  height: auto;
}

.profile .profile_text {
  width: 35vw;
  height: 20%;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.8em;
  color: #d1d1d1;
}

.profile .profile_name {
  color: #ffc672;
}

/* 하단 더보기 버튼 */
.more_btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes rotate_more_btn {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_more_btn {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.more_btn:hover {
  -webkit-animation: rotate_more_btn 4s linear infinite;
          animation: rotate_more_btn 4s linear infinite;
}

.more_bar_top {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
  opacity: 1;
}

.more_bar_bottom {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: #d1d1d1;
}

.more_btn.active:hover {
  -webkit-animation: rotate_more_btn 6s linear infinite;
          animation: rotate_more_btn 6s linear infinite;
}

.more_btn.active .more_bar {
  background-color: #fff;
}

.more_btn.active .more_bar_top {
  opacity: 0;
}

.more_btn.active .more_bar_bottom {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding-left: 0px;
  width: 0vw;
  height: 40px;
  background-color: rgba(31, 31, 31, 0.9);
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  z-index: 9000;
}

.menu.active {
  padding-left: 120px;
  width: 100vw;
}

.menu.active a {
  opacity: 1;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 2.4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu ul li {
  width: 24%;
  height: 40px;
}

.menu ul li > a {
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: block;
  line-height: 40px;
  text-align: center;
  opacity: 0;
  font-size: 1.4rem;
}

.menu ul li > a:hover {
  font-size: 1.5rem;
}

/*오른쪽 상단 메뉴*/
nav.top_menu {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 0px;
  right: 0px;
  padding: 0px;
  background-color: #006064;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.top_menu a {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.6em;
}

/* 진행 바 서식*/
.progress {
  position: fixed;
  left: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 230px;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9000;
}

.progress .progress_bar {
  position: absolute;
  background-color: #ff7e7e;
  width: 1px;
  height: 0px;
  z-index: 9999;
}

/*푸터영역 서식 시작*/
footer {
  width: 100%;
  height: 5vh;
  background-color: #212121;
  line-height: 5vh;
  text-align: right;
  font-size: 0.8rem;
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  header h1 {
    width: 45px;
    height: 45px;
  }
  nav.top_menu {
    display: none;
  }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 300px;
    height: 150%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .profile .profile_text {
    font-size: 1.4rem;
    height: 28%;
  }
  .profile .profile_photo {
    width: 40vw;
  }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 300px;
    height: 150%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .profile .profile_text {
    font-size: 1.4rem;
    height: 28%;
  }
  .profile .profile_photo {
    width: 40vw;
  }
  .gnb a {
    font-size: 2rem;
  }
  .gnb a.active {
    font-size: 2.3rem;
  }
  .popup {
    right: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .more_btn {
    display: none;
  }
  .progress {
    display: none;
  }
  .toggle {
    top: 90vh;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(139, 139, 139, 0.25);
    cursor: pointer;
  }
  .bar01 {
    width: 20px;
    right: calc(40% - 10px);
    top: 40%;
  }
  .bar02 {
    width: 30px;
    right: calc(40% - 10px);
    top: 60%;
  }
  .toggle:hover .bar {
    width: 30px;
  }
  .toggle.active:hover .bar01 {
    width: 30px;
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    top: 50%;
  }
  .toggle.active .bar01 {
    width: 30px;
    -webkit-transform: rotate(45deg) translate(4px, 4px);
            transform: rotate(45deg) translate(4px, 4px);
  }
  .toggle.active .bar02 {
    width: 30px;
    -webkit-transform: rotate(-45deg) translate(2px, -4px);
            transform: rotate(-45deg) translate(2px, -4px);
  }
}

.section_inner {
  width: 1200px;
  margin: 0px auto;
}

article {
  width: 100%;
  overflow-x: hidden;
}

article img {
  width: 100%;
}

.cont_title {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  text-align: center;
}

.cont_title img {
  width: 60%;
}

.cont_title h2 {
  font-size: 0px;
}

.cont01 {
  position: relative;
}

.cont01 a {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 60px;
  height: 60px;
  vertical-align: middle;
  padding: 0 40px;
  border-radius: 8px;
  background-color: #1b1b1b;
  color: #d1d1d1;
  font-size: 16px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.cont01 a:hover {
  top: 90px;
  background-color: #d1d1d1;
  color: #fff;
}
/*# sourceMappingURL=sub01.css.map */